﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Courses Page";
}
<h1>Create New Course</h1>
<form class="d-flex flex-column">
    <div class="form-group my-2">
        <label for="course-name">
            <span class="d-inline-block" style="width:150px;">Course Title:</span>
            <input type="text" name="course-name" id="course-name" class="d-inline-block" style="width:200px;" />
        </label>
    </div>
    <div class="form-group my-2">
        <label for="stack">
            <span class="d-inline-block" style="width:150px;">Stack:</span>
            <select id="stack" class="d-inline-block" style="width:200px;">
                <option value="mern-stack">MERN Stack</option>
                <option value="mean-stack">MEAN Stack</option>
                <option value="django-stack">Django Stack</option>
                <option value="rails">Rails</option>
                <option value="lamp-stack">LAMP Stack</option>
            </select>
        </label>
    </div>
    <div class="form-group my-2">
        <label for="description">
            <span class="d-inline-block" style="width:150px;">Description:</span>
            <input type="text" name="description" id="description" class="d-inline-block" style="width:200px;" />
        </label>
    </div>
    <div class="form-group my-2">
        <label for="thumbnail">
            <span class="d-inline-block" style="width:150px;">Thumbnail:</span>
            <input type="text" name="thumbnail" id="thumbnail" class="d-inline-block" style="width:200px;" />
        </label>
    </div>
    <div class="form-group my-2">
        <label for="price">
            <span class="d-inline-block" style="width:150px;">Price:</span>
            <input type="number" name="price" id="price" class="d-inline-block" style="width:200px;" />
        </label>
    </div>
    <div style="margin-left: 150px;">
        <button type="submit" class="btn btn-primary d-block ml-5" style="width:200px;">Create</button>
    </div>
</form>